<!--if user is signed in show logout button-->
<% if user_signed_in? %>
  <li>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
<!--else show the login button-->
<% else %>
  <li>
    <%= link_to('Login', new_user_session_path) %>
  </li>
<% end %>