<h1 class="p-3 m-3">Course Modules</h1>

<%= link_to "New course module", new_course_module_path, :class => "m-2 btn btn-success btn-sm" %>

<table class="table table-hover table-striped">
  <%= render :partial => 'course_modules/table_headers' %>
  <tbody>
  <%= render @course_modules %>
  </tbody>
</table>
