<h1 class="p-3 m-3">New course module</h1>

<%= render "form", course_module: @course_module %>

<br>

<div>
  <%= link_to "Back to course modules", course_modules_path, :class => "btn btn-secondary btn-sm" %>
</div>
