<!--@Ref: https://www.youtube.com/watch?v=TcltF0KVyrE
Ref description: tutorial on how to add comments to a resource-->

<!--template for printing each comment-->
<div class="card mb-4 bg-light border border-dark">
  <article>

    <!--OWASP A03:2021 – Injection - https://owasp.org/Top10/A03_2021-Injection/
    INSECURE - using raw helper tag when printing comment text makes the app vulnerable to
    XSS (Cross Site Scripting) attacks-->
    <p><%= raw comment.content %></p>

    <!-- print comment author -->
    <small>Created by <%= comment.user.try(:email) %> </small>

    <!-- print comment created date time -->
    <small>on <%= comment.created_at.strftime("%d/%m/%Y at %H:%M") %></small>

  </article>
</div>