<form action="<%= course_module_comments_path(course_module) %>" method="post">
<!--  <input type="hidden" name="authenticity_token">-->

  <textarea name="comment[content]" rows="6" cols="20"></textarea>

  <input type="submit" value="Submit">
</form>
