<form action="<%= course_module_comments_path(course_module) %>" method="post">
<!--  <input type="hidden" name="authenticity_token">-->

  <label for="comment" class="form-label">Comment:</label>
  <textarea class="form-control form-control-sm" id="comment" name="comment[content]" rows="6" cols="50" ></textarea>

  <br>

  <input type="submit" value="Post Comment" class="m-2 btn btn-primary">
</form>
