<h1>Users</h1>

<table>
  <tr align="center">
    <th>ID</th>
    <th>Email</th>
    <th>Admin</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Student No.</th>
    <th>Course</th>
    <th>Start Date</th>
    <th>DOB</th>
    <th>PPS No.</th>
    <th>Address</th>
    <th>Contact No.</th>
    <th>Emergency Contact</th>
    <th>Emergency Contact No.</th>
  </tr>
  <%= render @users %>
</table>
