<!--users index page template-->
<h1 class="p-3 m-3">Users</h1>

<table class="table table-hover table-striped">
  <!--render table headers template-->
  <%= render :partial => 'users/table_headers' %>
  <!--render table rows and data-->
  <tbody>
    <%= render @users %>
  </tbody>
</table>
