<h1>Search Results</h1>

<% if @users.count == 0 %>
    <p>Sorry, no users matched your search query. Please try again </p>
<% else %>
    <span> <%= @users.count %> Users(s) Found: </span>
    <br>
    <!--print users details in table-->
    <table class="table table-hover table-striped">
        <%= render :partial => 'users/table_headers' %>
        <tbody>
        <%= render @users %>
        </tbody>
    </table>
<% end %>