<!--@Ref: https://getbootstrap.com/docs/5.0/examples/heroes/
Ref Description: Bootstrap 5 homepage template-->

<!--home index page template-->
<div class="px-4 py-5 my-5 text-center">
  <!--@REF: https://www.flaticon.com/free-icon/education_4207253?term=student&page=1&position=59&origin=
  search&related_id=4207253
  Ref Description: logo reference-->
  <%= image_tag "logo.png", :height => 60, :class => "d-block mx-auto mb-4" %>
  <h1 class="display-5 fw-bold">Student Management System</h1>
  <div class="col-lg-6 mx-auto">

  <!--if the user is signed in display the following text-->
  <% if user_signed_in? %>
    <p class="lead mb-4">Click the link below to go view Course Modules</p>
  <% else %>
    <!--else display the following text-->
    <p class="lead mb-4">Please use your student or staff login details to login.</p>
  <% end %>

      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <!--if the user is signed in-->
        <% if user_signed_in? %>
          <!--display a button to the course modules page-->
          <%= link_to 'View Course Modules', course_modules_path, class: 'btn btn-primary btn-lg px-4 gap-3' %>
        <% else %>
          <!--else display button that redirects to login page-->
          <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-primary btn-lg px-4 gap-3' %>
        <% end %>
    </div>
  </div>
</div>
