<!--@Ref: https://stackoverflow.com/questions/70972434/rails-7-bootstrap-alert-is-not-been-dismissed
Ref description - stack overflow question on how to display bootstrap 5 alerts in RoR-->
<% if notice %>
  <div class="alert alert-success alert-dismissible" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <%= alert %>
  </div>
<% end %>