<!--navbar start-->
<nav role="navigation">
  <div class="inner">
    <ul class="nav" id="nav">
      <li><%= link_to "Home", root_path %></li>
      <%= render 'devise/menu/registration_items' %>
      <%= render 'devise/menu/login_items' %>
    </ul>
  </div>
</nav>
<!--navbar end-->